:root {
    --border-color1: rgb(196, 203, 216);
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: rgb(205, 222, 255);
    font-size: 18px; line-height: 1.6em; letter-spacing: 0.05em;
}

.boring-blocks {
    margin: 1% 10% 2%;
    padding: 1px 10px 1px;
}

.big-text-centered-block {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

main {
    position: relative; top: 70px; z-index: 3;
}

.contacts {
    width: 500px;
    margin: 0% 2%;
    padding: 1px 10px 1px;
}

.contacts-and-photo {
    width: 810px;
    float: left;
    padding: 5% 5% 10%;
}

h1, h2 {
    text-align: center;
    font-family: Verdana, sans-serif;
}

h2 {
    position: relative; top: 40px;
}

h3 {
    font-family: Verdana, sans-serif;
}

.code-style {
    width: min-content; background-color: cornflowerblue;
    font-weight: bold; color: white;
    padding: 15px 20px 15px;
    border-radius: 5px;
}

nav {
    width: max-content;
    font-size: 20px; line-height: 1.8em;
    margin-top: 185px; padding: 40px 30px 100px 20px;
    position: fixed; top: 0px; left: 0px; z-index: 0;
    border-right: 4px solid var(--border-color1); border-top-right-radius: 50px; border-bottom-right-radius: 50px;
}

footer {
    position: absolute; bottom: -947px; left: 0px; width: 100%;
    padding-top: 10px;
    border-top: 4px solid var(--border-color1);
}

header {
    position: absolute; top: 0px; left: 0px; z-index: 1; width: 1855px;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--border-color1);
}

.white-color-bg {
    background-color: rgb(255, 255, 255);
}

a {
    color: cornflowerblue; text-decoration: none;
}
